table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: lightblue;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#kotak2, #flip {
    padding: 5px;
    text-align: center;
    background-color: #fff420;
    border: solid 2px #e9f;
    border-radius: 5px;
}

#kotak2 {
    padding: 50px;
}

body{
    background-color: lightblue;
}