html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #74bbee;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 1000px;
    margin: 50px auto;
    background-color: #f9a807;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.kolom-utama {
    flex: 2;
    padding: 10px;
    margin-right: 20px;
}

.sidebar-satu {
    flex: 1;
    padding: 10px;
}

.sidebar-dua {
    flex: 1;
    padding: 10px;
}